extends ../layouts/common
block container
  .wrapper.w-50.mx-auto
    h1.text-center Books
    a.btn.btn-primary.my-2(href='/book/create') Add new book
    hr

    form(action='/book/search' method='GET')
      lable Search by Book Title 
      .d-flex.my-2
        input.form-control.flex-1(type='text' name='name' 
          placeholder='Search book' value=title || '' )
        button.btn.btn-primary(type='submit') Search

  .container.my-2
    .row.justify-content-between
      each book in books
        .card.mb-3(style='width: 24%;')
          img.card-img-top(src= book.image, alt='image book')
          .card-body
            h5.card-title= book.name
            p.card-text= book.desc
            a.btn.btn-primary(href='#') Buy now
    nav(aria-label='Page navigation example')
      ul.pagination.justify-content-center
        li.page-item(class= previous.state)
          a.page-link(href='/book/?page=' + previous.value) Previous
        each page in pagination
          -var state = ''
          if(page == pageCurrent)
            -state = 'active'
          li.page-item(class=state)
            a.page-link(href='/book/?page=' + page)= page
        li.page-item(class= next.state)
          a.page-link(href='/book/?page=' + next.value) Next